@model IEnumerable<Gurukul.Infrastructure.Models.Student>
<h1>List Of Students.</h1>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
@if (TempData["ResultOk"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["ResultOk"]
    </div>
}
<p>
    <a asp-action="create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Admission Form</a>

</p>
<div class="table-responsive">
    <table id="mytable" class="table table-striped tbl">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.School)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Board)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medium)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enrollment_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CGPA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Percentage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eve in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem =>eve.Id )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>eve.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.School)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.Board)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.Medium)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.Enrollment_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.CGPA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eve.Percentage)
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a asp-action="Edit" asp-route-id="@eve.Id">
                                <i class="fa-solid fa-pen-to-square" style="width:40px;"></i>
                            </a>
                            @* <a asp-action="Delete" asp-route-id="@eve.Id">
                                <i class="fa-solid fa-trash" style="width:40px;"></i>
                            </a> *@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/datatables-1.13.4/js/datatables.bootstrap.js"></script>
    <script src="~/datatables-1.13.4/js/datatables.bootstrap.min.js"></script>
    <script src="~/datatables-1.13.4/js/datatables.bootstrap4.js"></script>
    <script src="~/datatables-1.13.4/js/datatables.bootstrap4.min.js"></script>
    <script src="~/datatables-1.13.4/js/jquery.datatables.js"></script>
    <script src="~/datatables-1.13.4/js/jquery.datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#mytable').dataTable({
                "paging": true,
                "lengthMenu": [5, 10, 20, 100], "language": {
                    "paginate": {
                        "previous": "Prev",
                        "next": "Next"
                    }
                },
                "paging": {
                    "previous": '<span class="custom-prev-button">&lt; Prev</span>',
                    "next": '<span class="custom-next-button">Next &gt;</span>'
                }
            });
        });
    </script>
}
